# Environnements virtuels Python venv/ env/ .venv/
# Fichiers de configuration sensibles
.env
*.env
# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
# Fichiers d'éditeur
.vscode/
.idea/
*.swp
# Fichiers système
.DS_Store
Thumbs.db
